<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <div>
        <ul>
            <a href="/">About Me |</a>
            <a href="/projects">My Projects |</a>
            <a href="/contact">Contact Me!</a>
        </ul>
        <h1>About Me</h1>
    </div>
    <div>
        <img src="~/images/Profil.png" alt="">
        <p>Bobothy Jones</p>
        <p>I Love to code !</p>
    </div>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquam unde quidem laboriosam modi molestias, hic cum. Sed odit esse, eligendi eum perspiciatis nihil amet ex totam dolore molestias iure aliquid natus ea earum accusantium libero aut quasi doloribus, veritatis cum quam cupiditate dolor ipsam. Vero nisi dolorum fugiat? Asperiores.</p>
    </div>
</body>
</html>