@{
    ViewData["Title"] = "Home Page";
}
@model User
<div class="text-center">
    <div class="row d-flex justify-content-evenly ">
        <div class="card shadow col-5 ">
            <div class="card-header h2">Register</div>
            <div class="crad-body">
                <form asp-action="Register" asp-controller="Home" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control">
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control">
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary w-100" value="Register">
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadow col-5">
            @* <partial name="_Login"/> *@
            @await Html.PartialAsync("_Login")
        </div>
    </div>
</div>
