@{
    ViewData["Title"] = "Privacy Policy";
}
@model User
<div class="d-flex justify-content-evenly">
    <h1>Success 👍👌✌️!!</h1>
    <form asp-action="Logout" asp-controller="Home" method="post">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</div>