@model User
<h1>Submitted Info</h1>


    
        <div class="card shadow p-3 mb-3" >
            <h4>Your Name : @Model.Name</h4>
            <h4>Dojo Location : @Model.Location</h4>
            <h4>Favorite Language : @Model.Language</h4>
            <h4>Comment : @Model.Comment</h4>
            <a href="/"><button class="btn btn-danger w-40">Go Back</button></a>
        </div>
    
