@{
    ViewData["Title"] = "Privacy Policy";
}
@model Categorie
<div class="text-center row">
    <div class="col-6">
    <h1>New Categorie</h1>
    <form asp-action="CreateCategorie" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="form-control"/>
        </div>
        <br>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
   </div>
   <div class="col-6">
    <h1>All Categories</h1>
    <table class="table ">
        <tr>
            <th>Name</th>
        </tr>
        @if (ViewBag.AllCategories != null)
        {
            @foreach (Categorie c in ViewBag.AllCategories)
            {
            <tr>
                @* <td><a href="/categorie/@c.CategorieId">@c.Name</a></td> *@
                <td><a href="#">@c.Name</a></td>
            </tr>
            }
        }
        
    </table>
   </div>
</div>