<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
     <form action="process" method="post">
        <p>Your Name :  <input type="text" name="Name"></p>
        <p>Dojo Location : 
            <select name="Location">
                <option value="San Jose">San Jose</option>
                <option value="Tokyo">Tokyo</option>
                <option value="New Yourk">New Yourk</option>
            </select>
        </p>
        <p>Favorite Language : 
            <select name="Language">
                <option value="C#">C#</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
            </select>
        </p>
        <p>Message :<textarea name="Message"></textarea></p>
        <button>Submit</button>
    </form>
</body>
</html>