<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Result</title>
</head>

<body>
    <h1>Submitted Info</h1>
    <h4>Your Name : @ViewBag.Name</h4>
    <h4>Dojo Location : @ViewBag.Location</h4>
    <h4>Favorite Language : @ViewBag.Language</h4>
    <h4>Message : @ViewBag.Message</h4>      
    <a href="/">Go Back</a>
</body>

</html>