@{
    ViewData["Title"] = "Edit Page";
}

@model Dish
<div class="text-center">
    <div class="d-flex justify-content-center">
        <h1>Edit @Model.DishName</h1>
    </div>
    <div class="card-head d-flex justify-content-evenly mb-3">
        <a href="/">Home</a>
        <a href="/Home/Privacy">Add a Dish</a>
    </div>

    <div class="card shadow border p-3">
    <div class="card-body">
        <form asp-action="UpdateDish" asp-controller="Home" method="post" class="d-flex justify-content-around">
            <div>
                <div class="form-group mb-3">
                    <label asp-for="ChefName" class="form-label d-flex justify-content-start">Chef's Name</label>
                    <input class=" form-control" asp-for="ChefName">
                    <span asp-validation-for="ChefName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DishName" class="form-label d-flex justify-content-start">Name of Dish</label>
                    <input class=" form-control" asp-for="DishName">
                    <span asp-validation-for="DishName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CaloriesNumber" class="form-ckeck-label d-flex justify-content-start"># of Calories</label>
                    <input class=" form-control" asp-for="CaloriesNumber">
                    <span asp-validation-for="CaloriesNumber" class="text-danger"></span>
                </div>
            </div>       
            <div class="form-group mb-3">
                <label asp-for="Tastiness" class="form-ckeck-label d-flex justify-content-start">Tastiness</label>
                <input class=" form-control" asp-for="Tastiness">
                <span asp-validation-for="Tastiness" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group mb-5">
                    <label asp-for="Description" class="form-textarea d-flex justify-content-start">Description</label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="DishId">
                <button class="btn btn-primary w-100"> Edit Dish</button>
            </div>         
        </form>
    </div>
</div>
</div>