@model string
<div class="text-center">
    <h1>Random Passcode #@Context.Session.GetInt32("passCount")</h1>
    <h2 class="display-4">@Model</h2>
    <a href="" class="btn btn-primary">Generate</a>
</div>
